.navbar {
  background: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  position: sticky;
  top: 0;
 }

.navlinks {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}
.slide-link{
  display: block;
  width: 100%;
  height: 100%;
  flex: 0 0 100vw;
}

.item-link {
  text-decoration: none;
  color: inherit;        
  display: block;        
}

.box-link {

  display: flex; 
  flex: 1;       
  flex-direction: column;
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,sans-serif ,Roboto;
}

hero{
  overflow-x: hidden;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide {
  flex: 0 0 100vw;   
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* TEXT CONTENT */
.content {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  text-align: center;
  color: #ffffff;
}

.content h1 {
  font-size: 48px;
  font-weight: 600;
}

.content p {
  font-size: 18px;
  margin: 15px 0 25px;
}

.content button {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: black;
  padding: 10px 28px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.content button:hover {
  background: #918f8f;
  color: #000;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ffffff;
}
.boxes{

  display: flex;
  width: 100%;
  min-height: 600px;
}
.left , .right{
  flex: 1;
  width: 100%;
  height: 100%;
   color: #ffffff;
   text-align: center;
   padding: 60px 40px;
   position: relative;
    background-size: cover;     
  background-repeat: no-repeat;   
  background-position: center;
  
}
.left button {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: black;
  padding: 10px 28px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left button:hover {
  background: #918f8f;
  color: #000;
}
.right button {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: black;
  padding: 10px 28px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right button:hover {
  background: #918f8f;
  color: #000;
}
.box-text{
  position: absolute;
  bottom: 40px;
  left: 40px;
  text-align: left;
  color: #ffffff;
}
.text-box h3 {
  font-size: 40px;
  font-weight: 500;
}

.text-box p {
  font-size: 15px;
  margin: 15px 0 25px;
}
.box-link {

  display: flex; 
  flex: 1 1 50%;       
  flex-direction: column;
  text-decoration: none;
}

.sports-section{
  display: flex;
  gap: 20px;
  padding: 40px;
}

.card{
  flex: 1;
  position: relative;
  overflow: hidden;
}

.card img{
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}

.card button{
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 12px 20px;
  border: none ;
  border-radius: 25px;
  background: white;
  font-size: 15px;
  cursor: pointer;
}

.card:hover img{
  transform: scale(1.05);
  transition: 0.4s;
}

.spolight{
  text-align: center;
  padding: 80px 40px;
  background: #ffffff;
  font-family: Arial sans-serif;
}

.spolight h1{
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: -2px;
}

.spolight p{
  max-width: 700px;
  margin: 0 auto 60px;
  font-size: 18px;
  color: #111;
}

.spolight-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px 20px;
  justify-content: center;
}

.item img{
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.item span{
  font-size: 14px;
 font-weight: 500;
 color: #111;
}

.item:hover img{
  transform: scale(1.30);
  transition: 3s;
}

/* MOBILE */
@media (max-width: 768px) {

  .content h1 {
    font-size: 32px;
  }

  .content p {
    font-size: 16px;
  }

  .content {
    bottom: 70px;
  }

  .boxes {
    flex-direction: column;
    height: auto;
  }

  
  .left,
  .right {
    width: 100%;
    height: 420px;   
    background-position: center;
    flex: 1;
  }

  
  .box-text {
    bottom: 24px;
    left: 24px;
    right: 24px; 
  }   

  .box-text h3 {
    font-size: 22px;
  }

  .box-text p {
    font-size: 14px;
  }

  .box-text button {
    padding: 8px 22px;
    font-size: 13px;
  }
  .sports-section{
    flex-direction: column;
  }
  .card img{
    height: 400px;
  }
  .spolight h1{
    font-size: 40px;
  }
  .spolight-grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .box-link {
    width: 100%;
    height: 400px;
    
  }
}



















